* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}


/* Fondo de pagina (body) */

body{
    background-color: antiquewhite !important;
}

/* Ajuste de imagenes de carrusel */

.carousel-item img {
  height: 500px;
  object-fit: cover; 
}

/* Fondo translúcido de carrusel */

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo translúcido negro */
  color: white; /* Color de texto blanco */
  padding: 10px; /* Espaciado interno */
}

/* Titulo */

.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

/*Caja Login*/

#containerLogin {
    margin-left: 150px;
  }
  #containerLogin .cuadro_login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  #containerLogin .form-group {
    margin-bottom: 10px;
  }
  #containerLogin .boton_ingresar {
    width: 100%;
  }


/* Carrusel Pag Principal */

#carouselExample{
    margin-left: 20px;
    margin-right: 20px;
}

#mini-producto{
    margin-left: auto;
    margin-right: auto; 
}

.row {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
}

/* Tarjetas de ficha de videojuegos*/

.card-img-top{
    width: auto;
    height: auto;
    max-width: 250px;
}

.card-content {
    display: flex;
  }
  
  .card-img-top {
    width: 200px;
  }
  
  .card-body {
    margin-left: 20px;
  }

/* Caja de carrito de pago*/

  .total-box {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f8f9fa;
    width: 300px; /* Ajustado ancho para encajar con esquina*/
    margin-bottom: 125px; 
    margin-right: 125px; 
  }


  .total-section {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .total-box {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f9fa;
  }

  /*Parrafo Nosotros*/

  #pNosotros {
    margin-left: 60px;
    margin-right: 60px;
  }


  /*Imagenes "nosotros"*/

  .img-staff {
    width: 100%;
    height: 250px; /* Elige la altura deseada */
    object-fit: cover;
    object-position: center top;
}