* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}


/* Fondo de pagina (body) */

body{
    background-color: antiquewhite;
}

/* Titulo */

.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

/*Caja Login*/

#containerLogin {
    margin: 20px;
  }
  #containerLogin .cuadro_login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  #containerLogin .form-group {
    margin-bottom: 10px;
  }
  #containerLogin .boton_ingresar {
    width: 100%;
  }


/* Carrusel Pag Principal */

#carouselExample{
    margin-left: 20px;
    margin-right: 20px;
}

#mini-producto{
    margin-left: auto;
    margin-right: auto; 
}

.row {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
}

/* Tarjetas de ficha de videojuegos*/

.card-img-top{
    width: 200px;
    height: auto;
    max-height: 300px;
}

.card-content {
    display: flex;
  }
  
  .card-img-top {
    width: 200px;
  }
  
  .card-body {
    margin-left: 20px;
  }

/* Caja de carrito de pago*/

  .total-box {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f8f9fa;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 125px; /* Ajusta el margen superior según tus necesidades */
    margin-right: 125px; /* Ajusta el margen derecho según tus necesidades */
  }


  .total-section {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .total-box {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f9fa;
  }